body {
  padding-top: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotron .img-responsive {
  margin: 0 auto;
}
.pad-top {
  padding-top: 60px;
}
.motivetable tr td:nth-child(2) {
  width: 150px;
}
.motivetable tr:nth-child(1) td {
  border-top: none;
}
/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
[ui-view] {
  height: 65px;
}
.ui-view-container {
  position: relative;
}
.text-limit{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
}