<div class="form-group">
    <label for="title" class="col-lg-2 control-label">Title</label>
    <div class="col-lg-10">
        <input type="text" ng-model="content.title" class="form-control" id="title" placeholder=Title>
    </div>
</div>

<div class="form-group">
    <label for="description" class="col-lg-2 control-label">Description</label>
    <div class="col-lg-10">
        <input type="text" ng-model="content.description" class="form-control" id="description" placeholder=Description>
    </div>
</div>

<div class="form-group">
    <label for="imgPath" class="col-lg-2 control-label">Image URL</label>
    <div class="col-lg-10">
        <input type="text" ng-model="content.imgPath" class="form-control" id="imgPath" placeholder=Image>
    </div>
</div>

<!--custom fields --> 
<div class="form-group" ng-repeat-start="prop in interestProperties">
    <label class="col-lg-10 control-label">{{prop.description}}</label>
    <div class="col-lg-10">
        <input type="text" class="form-control" ng-model='values[$index]' value=''>
    </div>
</div><p ng-repeat-end></p>

<div class="form-group">
    <div class="col-lg-10">
        <input hidden type="text" ng-model="content.interestId" class="form-control" id="interestId">
    </div>
</div>

<br>
<div class="form-group">
    <div class="col-lg-offset-2 col-lg-2">
        <input type="submit" class="btn btn-primary" value="Save Content"/>
    </div>
</div>

