<div class="form-group">
    <label for="description" class="col-lg-2 control-label">Description</label>
    <div class="col-lg-10">
        <input type="text" ng-model="query.description" class="form-control" id="description" placeholder="Query Description"/>
    </div>
</div>
<div class="form-group">
    <label for="hashtag" class="col-lg-2 control-label">Hashtag</label>
    <div class="col-lg-10">
        <input type="text" ng-model="query.hashtag" class="form-control" id="hashtag" placeholder="Hashtag"/>
    </div>
</div>
<div class="form-group">
    <label for="keyword" class="col-lg-2 control-label">Keyword</label>
    <div class="col-lg-10">
        <input type="text" ng-model="query.keyword" class="form-control" id="keyword" placeholder="Keyword"/>
    </div>
</div>
<div class="form-group">
    <label for="popularity" class="col-lg-2 control-label">Popularity</label>
    <div class="col-lg-10">
        <input type="text" ng-model="query.popularity" class="form-control" id="popularity" placeholder="Popularity"/>
    </div>
</div>
<div class="form-group">
    <label for="tweet_owner" class="col-lg-2 control-label">Tweet Owner</label>
    <div class="col-lg-10">
        <input type="text" ng-model="query.tweet_owner" class="form-control" id="tweet_owner" placeholder="Tweet Owner"/>
    </div>
</div>
<div class="form-group">
    <label for="latitude" class="col-lg-2 control-label">Latitude</label>
    <div class="col-lg-10">
        <input type="text" ng-model="query.latitude" class="form-control" id="latitude" placeholder="Latitude"/>
    </div>
</div>
<div class="form-group">
    <label for="longitude" class="col-lg-2 control-label">Longitude</label>
    <div class="col-lg-10">
        <input type="text" ng-model="query.longitude" class="form-control" id="longitude" placeholder="Longitude"/>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-offset-2 col-lg-2">
        <input type="submit" class="btn btn-primary" value="Save Query"/>
    </div>
</div>
