<div class="container pad-top">

	<div class="card">
	  <h3 class="card-header">{{content.title}}</h3>
	  <div class="card-block">
	  	<img ng-src="{{content.imgPath}}" width="200" height="200" class="img-responsive">
	    <p class="card-text">{{content.description}}</p>
	  </div>
	</div>

	<div class="card">
		<h5 class="card-header">Comments:</h5>
		<div class="card">
			<div class="card-block">
				<form ng-submit="addComment(comment)" role="form">
					<textarea class="form-control" ng-model="comment" rows="3" placeholder="What do you think?"></textarea>
					<button type="submit" class="btn btn-sm btn-success green"><i class="fa fa-comment"></i> Comment
					</button>
				</form>
			</div>
		</div>
		<div class="card" ng-repeat="comment in content.comments" id="divcomment">
			<div class="card-block">
				<p class="card-text">{{comment}}</p>
			</div>
		</div>
		
		<div id = "div-for-new-comment"></div>
	</div>
</div>


