<div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <button
                    type="button"
                    class="btn btn-default btn-lg vertical-center"
                    ui-sref="newContent({interestId: interestId})">Share content here{{interestId}}
            </button>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4" ng-repeat="content in savedContents">
        <div class="card h-100">
            <img class="card-img-top" src="{{content.imgPath}}" alt="" style="height: 150px" >
            <div class="card-body">
                <h4 class="card-title">
                    <a ng-href="#/contentdetails/{{content.id}}">{{content.title}}</a>
                </h4>
                <p class="card-text">{{content.description}}</p>
                <a ng-href="#/contentdetails/{{content.id}}">View Details</a>
            </div>
        </div>
    </div>
</div>