<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Interests</h1>
            <div class="list-group" ng-repeat="interest in savedInterests">
                <a ui-sref=".contents({interestId: interest.id})" class="list-group-item">{{interest.title}}</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <div>

                <h1 class="my-4">
                	Items
                	<a ui-sref="newContent" class="btn btn-primary btn-sm nodecoration">Create New Item</a>
                </h1>


            </div>

            <!-- div for content listing -->
            <div ui-view></div>

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>