<div class="container">

    <div class="row">

        <div class="col-lg-3">

			<div class="justify-content-between">
	            <h1 class="my-4">Motives <button
		             type="button"
		             class="btn btn-default btn-sm add-button"
		             ui-sref="newInterest"><i class="fa fa-plus-square icon-cog"></i>
	             </button></h1>
	            
            </div>
            <div id = "divForInterests" class="list-group" ng-repeat="interest in savedInterests">
                 <div class="list-group-item justify-content-between">
	                <a ui-sref=".contents({interestId: interest.id})">{{interest.title}}</a>
                     <button
                             type="button"
                             class="btn btn-default btn-xs add-button"
                             ui-sref="newContent"><i class="fa fa-plus-square icon-cog"></i>
                     </button>
              	</div>
                
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <!-- div for content listing and creating-->
            <div ui-view></div>

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
