
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Interests</h1>
            <div class="list-group" ng-repeat="interest in savedInterests">
                <a ui-sref="contents({interestId:interest.id})" class="list-group-item">{{interest.title}}</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <h1 class="my-4">Items</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder list-group-item" ng-repeat="content in savedContents" >
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>{{content.title}}</h4>
                    <span class="text-muted">Something else</span>
                </div>
            </div>

        </div>
        <!-- /.col-lg-9 -->

        

    </div>

</div>